/* Estilos generales */
.cuerpo {
    font-family: 'Arial', sans-serif;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.navbar {
    display: flex;
    background-color: #1c1b29;
    transition: 0.3s ease;
}

.navbar .nav-link {
    color: #f3e6f5 !important;
}

.navbar .nav-link:hover {
    color: #d26ac2 !important;
}

#banner {
    margin: 20px auto;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

#octocat {
    width: 100%;
    max-width: 10em;
}

.section-title {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 30px 0 15px;
}

.izquierda, .proyectos {
    width: 50%;
}

.izquierda {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.1rem;
    margin: 5px 0;
}

.proyectos {
    width: 40%;
    padding: 10px;
    border-radius: 8px;
}

.projects {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.projects a {
    margin: 0 10px;
    transition: transform 0.2s;
    border-radius: 8px;
}

.projects img {
    width: 100%;
    max-width: 5em;
}

.projects a:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 12px rgba(210, 106, 194, 0.6);
}

.foto {
    width: 100%;
    max-width: 3em;
}

.contact {
    margin-bottom: 2em;
}

.contact a {
    margin: 0 10px;
    transition: transform 0.2s;
    border-radius: 8px;
}

.contact a:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 12px rgba(210, 106, 194, 0.6);
}

@media screen and (max-width: 576px) { 
    #banner {
        width: 100%;
    }
    .otros { 
        display: block; 
    } 
    .izquierda, .proyectos, .contact { 
        width: 100%; 
        display: block; 
    } 
    .tecnologias {
        margin-bottom: 3em;
    }
    .proyectos {
        margin-top: 3em;
    }
    .projects a {
        margin-bottom: 3em;
    }
}

/* Modo oscuro */
body.dark {
    background-color: #1c1b29;
    color: #f3e6f5;
}

body.dark #banner {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
}

body.dark h1 {
    color: #d26ac2;
}

body.dark .proyectos {
    border: 1px solid #b35bd6;
    background-color: #2b2a3d;
}

body.dark ul li {
    color: #d5b6e0;
}

body.dark .section-title {
    color: #b35bd6;
}

/* Modo claro */
body.light {
    background-color: #ffffff;
    color: #000000;
}

body.light #banner {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

body.light h1 {
    color: #d26ac2;
}

body.light .proyectos {
    border: 1px solid #d26ac2;
    background-color: #ffffff;
}

body.light ul li {
    color: #1c1b29;
}

body.light .section-title {
    color: #b35bd6;
}

/* Switch */
.switch-container {
    position:absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider.round {
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Iconos */
.icon {
    position: absolute;
    width: 20px;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.4s;
}

.sun {
    left: 10px;
}

.moon {
    right: 10px;
    opacity: 0;
}

input:checked ~ .slider .sun {
    opacity: 0;
}

input:checked ~ .slider .moon {
    opacity: 1;
}

figure {
    margin: 3rem 0;
    text-align: center;
}

embed {
    width: 100%;
    max-width: 25em;
    height: auto;
    border-collapse: collapse;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(210, 106, 194, 0.6);
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: rgb(45, 0, 51);
}

::-webkit-scrollbar-thumb {
    background: #d26ac2;
}

/* Estilos del Splash Screen */
.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    color: white;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
    font-family: 'Arial', sans-serif;
}

/* Contenedor de las barras */
.loading-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.bar {
    width: 20px;
    height: 50px;
    margin: 0 5px;
    background-color: #d26ac2;
    animation: grow 1.5s ease-in-out infinite;
}

.bar:nth-child(1) {
    animation-delay: 0s;
}

.bar:nth-child(2) {
    animation-delay: 0.2s;
}

.bar:nth-child(3) {
    animation-delay: 0.4s;
}

/* Animación para las barras */
@keyframes grow {
    0%, 100% {
        height: 50px;
    }
    50% {
        height: 80px;
    }
}

/* Animación de aparición del texto */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

h3 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 20px;
}

p {
    font-size: 1.2rem;
    margin-top: 10px;
    opacity: 0.8;
    font-style: italic;
}

/* Animación de desaparición */
@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; display: none; }
}